// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.titlefield{
	text-align:left;
}

.editdeletefield{
	text-align:right;
}

.instamain{
	max-width:540px;
}




.cards-container {
    margin:30px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

    }
    .card {
    margin:10px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    flex-basis: 100%;

    }



    .card-header {
      display:flex;
      text-align: left;
      font-weight: bold;
      display:block;
      background:#e9ebee;	
    }


     .card-comments {
      margin: 10px;
      display:block;
      float:rignt;

    }


    .card-img > img {
      width:100%;
      display:block;
    }


    .card-header > div {
      padding: 14px 10px;
      flex:1;
      font-size:10px;
    }

.pokepoke{
	display:block;
}

.username-font{
	font-size:30px;
}

.postt{
	width:20em;
	height:4em;
	text-align:center;
	padding-top:3%;
	font-size:35px;
}





@media (min-width:850px){
.cards-container{
	width:600px;
}
}


@media (min-width:1150px){
.cards-container{
	width:750px;
}
}

